
/******** NAVBAR PUBLICO *******/

/* TITULO */

.titulo{
    font-family: var(--letra-titulo);
    color: var(--color-titulo);
    text-shadow: 2px 5px 7px rgba(238,38,138,1);
    text-shadow: 2px 5px 7px rgba(243,236,240,1);
    text-shadow: 2px 5px 5px rgba(223,101,170,1);

}

.sesion{
    font-family: 'menus';
    color: var(--color-menus);
    font-size: 1.5rem;
}

.iconoSesion{
    display: flex;
    align-items: center;
}

.iconoSesion>a>svg{
    margin: 20px;
    color: var(--color-menus);
    
}

.iconoSesion>a>svg:hover{
    
    color: var(--color-hoover);
    transform: scale(1.2);
}


.homecito{
    font-family: 'menus';
    font-size: 1.5rem;
    color: var(--color-menus);
    margin-right: 2rem;
    margin-left: 2.6rem;
    
}


.homecito:hover, .sesionIni:hover{
    transform: scale(1.2);
}

.itemEliminar{
    list-style-type:none;
    margin-right: 2.5rem;

}

.sesionIni{
    margin-right: 30px;
}
.desplegableMenu{
    background-color: var(--color-navbar);
   
}
.desplegableMenu>li>a{
    color: var(--color-menus);
}

.desplegableMenu>.dropdown-item{
    color: var(--color-menus);
    padding: 4px 16px;
}

.dropdown-item:hover{
    color: var(--color-hoover);
    
}
.navbar{
    width: 100vw;
    background-color: #593196 ;
}
.container-fluid{
    background-color: #593196 ;

}