.footer{
    
    /* position: relative;
    top: 400px; */
}

.paginaDesconocida>p{
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    color: brown;
    margin-top: 5%;
    
}
