.footer{
    background-color: var(--color-navbar);
    color: var(--color-menus);
    font-family: 'parrafos';
    
}

.dataFiscal>img{
    width: 90px;
    margin-top: 10px;
    margin-left: 10px;
}
.sb_footer-links{
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   
    
}

.sb_footer-links_div{
    
    margin-top: 15px;
    margin-left: 3rem;
}

.sb_footer-links_div>a>p{
    color:var(--color-menus);
}

.textitoFooter{
    width: 400px;
    margin-top: 15px;
}
.sb_footer-copyright>p{
    height: 15%;
    text-align: center;
}

.sb_footer-links_div>.socialmedia>p>i{
    color: var(--color-menus);
}

.sb_footer-links_div>h4{
    font-weight: bold;
}

.socialmedia>a>svg{
    margin: 10px;
    color: var(--color-menus);
}

.socialmedia>a>svg:hover{
    
    color: var(--color-hoover);
    transform: scale(1.2);
}

.sb_footer-links_div>a>p:hover{
    transform: scale(1.2);
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    };





/* @media screen and(min-width: 1039px) {
    .sb_footer-links_div{
        display: flex;
        margin-bottom: 10px;
      } 
        
} */
/* @media screen and(max-width: 1269px) {

    .dataFiscal>img{
        width: 90px;
    }
} */
/* menor o igual a 600px */

  
    /* Hacer que los enlaces del footer se apilen verticalmente */
    /* .sb_footer-links a {
      display: block;
      margin-bottom: 10px;
    } */
  
    /* Ajustar el margen de los íconos de redes sociales */
    /* .socialmedia a {
      margin-right: 0;
      margin-bottom: 10px;
    } */
 
